
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 1vh;
}
::-webkit-scrollbar-track {
    background: darkgoldenrod;
}
::-webkit-scrollbar-thumb {
    background:rgba(255, 255, 255, 0.767);
    border-radius: 7px;
    
}

body {
    background-color: rgb(7, 6, 5);
    height: 100%;
    width: 100%;
}

.font-title a{
    color: greenyellow;
    font-style: normal;
    font-family: Corbel Light;
    font-size: 200%;
    text-indent: 0%;
   
    text-decoration: none;
}

.nav-main p{
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
    height: 10px;
    padding: 3% 3%;
}
.container {
    width: 100%;
    height: 90px;
    margin: 0;
    background-color: rgb(0, 0, 0);
    justify-content: space-between;
    position: fixed;
    z-index: 3;
    display: inline-table;
}
ul{
    list-style: none;
}
.father{
    height: 600px;
    width: 100%;
    position: fixed;
    top: 90px;
    display: table;
    float: left;
    background-color: rgba(255, 255, 255, 0.904);
}

.banner{
    margin: 0;
    width: 100%;
    top: 90px;
    z-index: 1;
    height: 1000px;
    position: fixed;
    background-size: cover;
    background-position: center center;
    background-color: black;
}

/*.banner{
    margin: 0;
    width: 100%;
    top: 90px;
    z-index: 1;
    height: 1000px;
    position: fixed;
    background-size: cover;
    background-position: center center;
    background-color: rgb(0, 0, 0);
}*/

.image{
    width: 50%;
    height: auto;
    background-size: cover;
    background-position: center center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.banner-area{
    width: 100%;
    top: 90px;
    height: 700px;
    z-index: 2;
  float: left;
    background-color:  black;
    position: absolute;
}

.respuestas{
    width: 100%;
    top: 700px;
    height: auto;
    z-index: 2;
    position: relative;
}

.foro{
    position: relative;
}

.final{
    width: 100%;
    top: 90px;
    height: 200px;
    float: left;
    background-color: rgb(59, 59, 55);
    position: relative;
    z-index: 2;
}

.nav-main {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 0px;
    padding: 45px;
}

.nav-main:after{
    content: '';
    clear: both;
    display: table;
}

.nav-main ul{
    position: relative;
}

.nav-main ul li{
    padding-left: 5%;
}
.nav-main ul li a{
    font-family: georgia;
    text-decoration: none;
    color:greenyellow;
    font-size: larger;
    display: inline-flex;
    transition: all 0.3s ease;
}

.nav-menu{
    flex: 1;
    margin-left: 0%;
    list-style: none;
    display: flex;
    align-content: center;
}

.nav-menu li a:hover{
    color: rgb(207, 200, 181);
}
.icon{
    color: darkgoldenrod;
    cursor: pointer;
    display: none;
}
.icon.cancel-btn{
    position: absolute;
    right: 7%;
    top: 20px;
}
.icon.menu-btn{
    position: absolute;
    right: 5%;
    top: 35px;
}
@media (max-width: 1000px){
    .icon{
        display: block;
    }
    .nav-main .nav-menu{
        padding-left: 5%;
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
        max-width: 300px;
        background-color: rgba(255, 255, 255, 0.932);
        display: block;
        transition: all .5s ease;
    }
    .nav-main .nav-menu.show{
        left: 0%;
    }
    .nav-main .nav-menu li{
        margin-top: 50px;
    }
    .nav-main .nav-menu li a{
        font-size: 25px;
    }
    .nav-main .nav-menu li a:hover{
        transform: scale(1.3);
        z-index: 5;
    }

    .banner-area p{
        margin-left: 7%;
        margin-right: 7%;
    }
}
.nav-main .nav-menu li a:hover{
    transform: scale(1.05);
    z-index: 5;
}

.search{
    transform: translate(-60%,0%);
   /* position: absolute;*/
    border-radius: 10vh;
    height: 30px;
    width: 14%;
    background-color: aqua;
}
.search .search-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.final h2{
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    font-family: Corbel Light;
    text-decoration: none;
    color: darkgoldenrod;
    font-size: xx-large;

}
.icons{
    cursor: pointer;
    font-size: 50px;
}

.icons.facebook-btn{
    position: absolute;
    width: 10%;
    height: auto;
    right: 60%;
    top: 100px;
    
 }

 .icons.twitter-btn{
    position: absolute;
    width: 10%;
    height: auto;
    right: 40%;
    top: 100px;
    
 }

 .icons.ipn-btn{
    position: absolute;
    width: 10%;
    height: auto;
    right: 20%;
    top: 100px;
    
 }
.face{
    text-decoration: none;
    color: darkgoldenrod;
}

.account{
    cursor: pointer;
    font-size: 20px;
    right: 10%;
    color: darkgoldenrod;
}

.dropdown1-menu{
    display: none;
    visibility: hidden;
}/*
 .dropdown1-menu {
    position: absolute;
    visibility: hidden;
    transition: top 1s;
    }
    .lista:hover > dropdown1-menu {
        opacity: 1;
        visibility: visible;
        top: 30px;
    }
/*
    nav ul ul li{
        position: relative;
        width: 150px;
       display:list-item;
    }

*/
.foro p{
    color: black;
    font-size: large;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Corbel Light;
    text-align: center;
}

.comentar{
    resize: none;
    width: 60%;
    height: 300px;
    display: block;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 1vh;
    padding: 10px;
}
.usuario, .correo {
    border: none;
    display: block;
    width: 20%;
    height: 40px;
    border-radius: 2vh;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
.boton{
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 40px;
    display: block;
    margin-top: 30px;
    border-style:  double;
    border-color: rgb(156, 153, 153);
    background-color: white;
}
.publicacion{
    resize: none;
    width: 80%;
    height: 170px;
    display: block;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 1vh;
    padding: 5px;
    background-color: white;
    text-indent: 0%;
    font-family: Corbel Light;
    font-size: large;
}
/***************************************************/
.section2{
    width: 80%;
    height: auto;
    margin: auto;
    padding: 20px;
   background-color: gainsboro;
    position: relative;
    margin-top: 20px;
    z-index: 2;
}
.datos{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-flex;
    position: relative;
    text-align: center;
    text-indent: 100px;
    padding: 5px;
}
.contenido{
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    padding: 10px;
    position: relative;
}
.answer{
    text-indent: 20px;
    margin-left: 50px;
    display: block;
}
.answer-button{
    border: none;
    background-color: white;
    text-align: center;
    width: 150px;
    cursor: pointer;
    border-radius: 1vh;
}

.answer i {
    cursor: pointer;
}


/*REPSUESTA*/

.section3{
    width: 80%;
    top: auto;
    height: auto;
    margin: auto;
    padding: 20px;
   background-color: gainsboro;
    position: relative;
    /*display: none;*/
}
.answer-text{
    width: 70%;
    border: none;
    border-radius: 1vh;
    background-color: whitesmoke;
    height: 30px;
}
.answer-button2{
    width: 80px;
    border: none;
    background-color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 1vh;
}
/*Section 4*/
.section4{
    width: 70%;
    height: auto;
    margin: auto;
    padding: 20px;
   background-color: gainsboro;
    position: relative;
    margin-top: 20px;
    z-index: 2;
}