* {
    
    margin: 0;
    padding: 0;
}
body{
    background-size: cover;
    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container{
    position: absolute;
    background-color: black;
    text-align: center;
    top: 200px;
    left: 30%;
    width: 250px;
    height: 400px;
    justify-content: space-between;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 1vh;
}
a{
    display: list-item;
    list-style: none;
    text-decoration: none;
    top: 30px;
    position: relative;
    color: greenyellow;
    font: sans-serif;
}
