
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 1vh;
}
::-webkit-scrollbar-track {
    background: rgb(109, 97, 69);
}
::-webkit-scrollbar-thumb {
    background:rgba(255, 255, 255, 0.767);
    border-radius: 7px;
    
}

body {
    background-color: rgb(7, 6, 5);
    height: 100%;
    width: 100%;
}

.font-title a{
    color: darkgoldenrod;
    font-style: normal;
    font-family: Corbel Light;
    font-size: 200%;
    text-indent: 0%;
   
    text-decoration: none;
}


.nav-main p{
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
    height: 10px;
    padding: 3% 3%;
}
.container {
    width: 100%;
    height: 90px;
    margin: 0;
    background-color: rgb(0, 0, 0);
    justify-content: space-between;
    position: fixed;
    z-index: 3;
    display: inline-table;
}
ul{
    list-style: none;
}

.father{
    height: 600px;
    width: 100%;
    position: fixed;
    top: 90px;
    display: table;
    float: left;
    background-color: rgba(255, 255, 255, 0.904);
}

.banner{
    margin: 0;
    width: 100%;
    top: 90px;
    z-index: 1;
    height: auto;
    position: fixed;
    background-size: cover;
    background-position: center center;
    background-color: rgb(0, 0, 0);
}

.image{
    width: 50%;
    height: auto;
    background-size: cover;
    background-position: center center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.banner-area{
    width: 100%;
    top: 90px;
    height: auto;
    float: left;
    background-color:  rgba(255, 255, 255, 0.932);
    position: relative;
    z-index: 2;
    
}
.banner-area p {
    color: black;
    margin-left: 10%;
    /*margin-right: 40%;*/
    margin-right: 10%;
    text-align: justify;
    font-family: Corbel Light;
    text-decoration: none;
    font-size: 23px;
    justify-content: center;
}

.banner-area h2{
    color: rgba(194, 178, 88, 0.808);
    margin-left: 7%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: Corbel Light;
    text-decoration: none;
    color: darkgoldenrod;
    font-size: x-large;
}

.banner-area .image2{
    margin-top: 30px; 
    display: block;
    width: 370px;
    height: auto;
    margin-left: 35%;
}

.section3{
    width: 100%;
    top:90px;
    height: auto;
    float: left;
    background-color: rgb(122 122 122 / 93%);
    position: relative;
    z-index: 2;
}
.section3 p {
    color:rgb(0, 0, 0);
    margin-right: 10%;
    margin-left: 10%;
    text-align: justify;
    font-family: Corbel Light;
    text-decoration: none;
    font-size: 23px;
    justify-content: center;
}

.section3 h2{
    margin-left: 7%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: Corbel Light;
    text-decoration: none;
    color: darkgoldenrod;
    font-size: x-large;
}

.section2 .image3{

    display: block;
    width: 250px;
    height: auto;
    margin-left: 40%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.section2{
    width: 100%;
    top: 90px;
    height: auto;
    float: left;
    background-color: rgb(122 122 122 / 93%);
    position: relative;
    z-index: 2;
}
.section2 p {
    color:rgb(0, 0, 0);
    margin-right: 10%;
    margin-left: 10%;
    text-align: justify;
    font-family: Corbel Light;
    text-decoration: none;
    font-size: 23px;
    justify-content: center;
}

.section2 h2{
    margin-left: 7%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: Corbel Light;
    text-decoration: none;
    color: darkgoldenrod;
    font-size: x-large;
}

.final{
    width: 100%;
    top: 90px;
    height: 200px;
    float: left;
    background-color: rgb(45, 45, 45);
    position: relative;
    z-index: 2;
}

.nav-main {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 0px;
    padding: 45px;
}

.nav-main:after{
    content: '';
    clear: both;
    display: table;
}

.nav-main ul{
    position: relative;
}

.nav-main ul li{
    padding-left: 5%;
}


.nav-main ul li a{
    font-family: Corbel Light;
    text-decoration: none;
    color:darkgoldenrod;
    font-size: larger;
    display: inline-flex;
    transition: all 0.3s ease;
}

.nav-menu{
    flex: 1;
    margin-left: 0%;
    list-style: none;
    display: flex;
    align-content: center;
}

.nav-menu li a:hover{
    color: rgb(207, 200, 181);
}
.icon{
    color: darkgoldenrod;
    cursor: pointer;
    display: none;
}
.icon.cancel-btn{
    position: absolute;
    right: 7%;
    top: 20px;
}
.icon.menu-btn{
    position: absolute;
    right: 5%;
    top: 35px;
}
@media (max-width: 1000px){
    .icon{
        display: block;
    }
    .nav-main .nav-menu{
        padding-left: 5%;
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
        max-width: 300px;
        background-color: rgba(255, 255, 255, 0.932);
        display: block;
        transition: all .5s ease;
    }
    .nav-main .nav-menu.show{
        left: 0%;
    }
    .nav-main .nav-menu li{
        margin-top: 50px;
    }
    .nav-main .nav-menu li a{
        font-size: 25px;
    }
    .nav-main .nav-menu li a:hover{
        transform: scale(1.3);
        z-index: 5;
    }
    .section2 .image3{
    display: none;
    }
    .banner-area .image2{
        display: none;
    }
    .section3 p {
        margin-left: 7%;
        margin-right: 7%;
    }
    .section2 p {
        margin-left: 7%;
        margin-right: 7%;
    }
    .banner-area p{
        margin-left: 7%;
        margin-right: 7%;
    }
}
.nav-main .nav-menu li a:hover{
    transform: scale(1.05);
    z-index: 5;
}

.search{
    transform: translate(-60%,0%);
   /* position: absolute;*/
    border-radius: 10vh;
    height: 30px;
    width: 14%;
    background-color: aqua;
}
.search .search-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.final h2{
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    font-family: Corbel Light;
    text-decoration: none;
    color: darkgoldenrod;
    font-size: xx-large;

}
.icons{
    cursor: pointer;
    font-size: 50px;
}

.icons.facebook-btn{
    position: absolute;
    width: 10%;
    height: auto;
    right: 60%;
    top: 100px;
    
 }

 .icons.twitter-btn{
    position: absolute;
    width: 10%;
    height: auto;
    right: 40%;
    top: 100px;
    
 }

 .icons.ipn-btn{
    position: absolute;
    width: 10%;
    height: auto;
    right: 20%;
    top: 100px;
    
 }
.face{
    text-decoration: none;
    color: darkgoldenrod;
}

.account{
    cursor: pointer;
    font-size: 20px;
    right: 10%;
    color: darkgoldenrod;
}

.dropdown1-menu{
    display: none;
    visibility: hidden;

}

.banner-area a{
    text-decoration: none;
    color: darkgoldenrod;
}
