.container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    margin: 2rem 0;
}

.guia, .plan{
    border: 2px solid #fff;
    border-radius: 0.5rem;
    width: 50%;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background: #4E4E4E;
}

.container__img{
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #4E4E4E;
}

img{
    width: 60%;
    border-radius: 1rem;
}

.foot__img{
    border-top: 2px solid #fff;
    height: 3.5rem;
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;  
    background-color: #4E4E4E;
    font-weight: bold;
}

.links{
    text-decoration: none;
    color: #fff;
    background-color: #4E4E4E;
}
