body {    
    background: rgb(49, 49, 49);
    font-family: georgia;
    color: white;
    font-size: 1.5rem;
    line-height: 1.3em; 
    margin: 0;

}

.imagenzota{
    background-position: center;
}


p{
    margin-bottom:  1.4em;
}

.container{
    width: 90%;
    max-width:850px;
    margin: 0 auto;
}

.header{
    background: black;
    color: white;
    padding: 2rem 0;

    position:fixed;
    left: 0;
    top: 0;
    right: 0;
}

.header a{
    color: white;
    text-decoration: none;
}

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    letter-spacing: 11px;
    font-size: 1.4em;
}

.menu-icon{
    display: none;
}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}


.navigation ul li {
    display: inline-block;
}

.navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}

.navigation ul li a:hover {
    background:rgb(230, 176, 30)
}

.footer{
    background: rgb(230, 176, 30);
    padding: 0.3rem 0;
    text-align: center;
    margin-top: 6rem;
}

@media only screen and (max-width: 950px ){
.menu-icon{
    display: block;
    cursor: pointer;
    padding: 0.5rem 1rem;
}

.navigation ul {
    display: none;
}

.navigation {
    width: 100%;
    margin-top: 1rem;
}

.navigation ul.show{
    display: block;
}

.navigation ul li {
    display: block;
}

.navigation ul li a {
    display: block;
    padding: 0.5rem 0;
    transition: all 0.4s linear;
    border-radius: 5px;
}

.navigation ul li a:hover {
    background:rgb(230, 176, 30)
}
}
/*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}*/

.container-all{
    width: 80%;
    max-width: 1000px;
    margin: auto;
    padding: 100px;
    background: rgb(0, 0, 0);
    margin-top: 100px;
}

.title{
    font-size:40px;
    margin-bottom: 75px;
}

.sub-tittle{
    font-size: 30px;
    font-weight: 400;
}

.container-all img{
    width: 260px;
    float: left;
    margin-right:20px;
    margin-bottom:28px;
    display: block;
    transition: all 0.5s linear;
    border-style: solid;
    color: yellow;
}

.container-all p{
    font-size: 19.5px;
    font-weight: 300;
    margin-top: 20px;
}

.rectangulo {
  background: rgb(238, 234, 27);       
  width: 25000000px;           /* Ancho de 250 píxeles */
  height: 2px;          /* Alto de 150 píxeles */
  position: fixed;
}

img:hover{
    transform: scale(0.9);
}


/**/
.chat{
    justify-content: center;
    align-items: center;
}
.avatar{
    width: 100px;
    height: auto;
}

.chat{
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    margin-top: 20rem;
}
h1 {
    display: block;
    font-size: 1em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}